REACT_APP_SERVER_URL= url адрес сервера
REACT_APP_GOOGLE_ID= ключ гугл для авторизации через Passport JS
REACT_APP_GOOGLE_CLIENT_SECRET= secret для авторизации через Passport JS 
REACT_APP_URL= url адрес приложения
