body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #f5f5f5;
  font-family: 'Oswald', sans-serif;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
  flex: 1 0 auto;
  height: 100%;
}

#createTournament {
  background-color: rgb(146, 39, 1) !important;
  transform: skewX(-20deg);
  
} 

.justify-content-between {
  width: 100%;
}

.test-wrapper {
  display: flex;
  align-items: flex-end;
}

.createtornamentnavbar {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}
