body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  background-color: #f5f5f5 !important;
  font-family: 'Oswald', sans-serif !important;
  letter-spacing: 0.2px;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  height: 100%;
  margin-top: 4em;
}

#createTournament {
  background-color: rgb(146, 39, 1) !important;
  transform: skewX(-20deg);
}

.justify-content-between {
  width: 100%;
}

.test-wrapper {
  display: flex;
  align-items: flex-end;
}

.createtornamentnavbar {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

.header {
  background-color: tomato;
}

a {
  text-decoration: none !important;
  color: unset !important;
}

a:hover {
  color: unset;
}

.btn-outline-primary {
  color: tomato !important;
  border-color: tomato !important;
  box-shadow: none;
  outline: none;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  background-color: tomato !important;
  border-color: tomato !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
}

.btn-check:checked + .btn-outline-primary {
  background-color: tomato !important;
  color: white !important;
  box-shadow: none;
  outline: none;
}

.navbar-nav{
  flex-direction: unset !important;
}

td{
  text-align: center;
}

#buttonCreateTournament {
  border: 1px solid black;
  padding: .3em 1em;
  transform: skewX(-15deg);
  background-color: brown;
}

.btn-primary{
  background-color: tomato !important;
  border-color: tomato !important;
}

.btn-primary:hover{
  background-color: rgb(146, 39, 1) !important;
}
