.content {
  width: 80%;
  margin: auto;
}
.characters {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.characters  > li {
  list-style: none;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  width: 33%;
}


