.content {
  width: 80%;
  margin: auto;
}
.topBlock {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}
.statsBlock {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.diagram {
  width: 100px;
  height: 100px;
}

