.topBlock {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}
.profileBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.avatar > img {
  width: 200px;
  height: 200px;
  border-radius: 50% 50% 50% 50%;
}
.rankBlock {
  display: flex;
  justify-content: center;
  text-align: center;
}
.statsBlock {
  display: flex;
  justify-content: space-around;
}
.gameInfo {
  text-align: center;
}
