.body {
  /* background-color: #f5f5f5;
  font-family: 'Oswald', sans-serif; */
}
.TournamentList {
  display: flex;
  justify-content: space-around;
}
.blockTitle {
  text-align: center;
  margin: 20px;
}
.listItem {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 10px 5px;
}
.title {
  text-align: center;
}
.action {
  display: flex;
  justify-content: space-between;
}
.buttonsBlock {
  display: flex;
  justify-content: space-between;
}







