.cupBlock {
  display: flex;
  justify-content: space-around;
}
.cupInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon1 {
  height: 150px;
  width: 150px;
}
.icon2 {
  height: 100px;
  width: 100px;
}
.icon3 {
  height: 100px;
  width: 100px;
}
.nonactive {
  filter: grayscale(100%);
}
