.match {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: blue;
  padding: 0 15px;
  color: aliceblue;
}
.history {
  margin: 0 auto;
  text-align: center;
}
.score {
  padding: 3px 7px;
  background-color: #0d6efd;
  color: white;
  margin: 0 15px;
}
.list {
  list-style-type: none;
}
.listBlock {
  padding: 0;
}
