.match {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: blue;
  padding: 5px 15px;
  color: aliceblue;
  margin: 5px 0;
}
.history {
  width: 33%;
  margin: 0 auto;
  text-align: center;
}
.score {
  padding: 3px 7px;
  background-color: grey;
}
.list {
  list-style-type: none;
}
.listBlock {
  padding: 0;
}
